@use "../../styles/utils/variables.scss" as var;

.cms-history {
  background-color: var.$cms-history-bg;
  height: 100vh;
  width: 70vw;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 56px;
  font-weight: bold;
}