@use '../../../styles/mixins/breakpoints.scss' as bp;
@import '../../../styles/utils/variables';

.header {
  padding: 30px 24px;
  margin: 0 auto;
  color: $white;
  
  @include bp.screen-m {
    padding: 30px 40px;
  }

  @include bp.screen-xl {
    max-width: 1360px;
  }
}
