$screen-mobile-s: 320px;

$screen-tablet: 768px;

$screen-laptop: 1024px;

$screen-laptop-l: 1440px;


$white: #ffffff;
$grey: #505050;
$default-dark: #176192;
$default-light: #6de3eb;


$not-found-bg: #29472f;
$hotel-passes-bg: #bcf0c2;
$promotions-bg: #ccccf1;
$moments-bg: #519287;
$daycation-bg: #5c5fa1;
$home-page-bg: #eee3b0;
$users-bg: #b3b0b0;

