$primary-color: #2eb7ee;
$primary-text-color: #505050;
$white: #ffffff;
$grey: #505050;
$secondary-background: #f2f2f2;
$error: #ff6f5a;
$success: #11d17d;
$shadow: 0px 4px 25px rgb(0 0 0 / 15%);
$primary-gradient: linear-gradient(90deg, #1eb6ff 0%, #4edbfcff 100%);
$button-shadow: 0 8px 20px rgb(30 182 255 / 24%);
$overlay: #18181880;