@use '../../styles/mixins/breakpoints.scss' as bp;
@import '../../styles/utils/variables';
@import '../../styles/mixins/itemsWidthBetweenGaps.scss';

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 35px;
}