@use "../../styles/utils/variables.scss" as var;

.home-page {
  background-color: var.$home-page-bg;
  height: 100vh;
  width: 70vw;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 56px;
  font-weight: bold;
}